:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f4f7f6; /* Light grey/blue background */
  color: #333;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3 {
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #3498db;
  transition: 0.3s;
}

a:hover {
  color: #2980b9;
}
